
header{
    width: 100%;
    background-image: url(../componentes/fondofondoo.png);
    display: flex;   
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    color: var(--blanco);
    height: auto;
}
header:first-child{
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 2;
}

header:nth-child(2){

    align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 50;
}   


.contenedor-menu{

    max-width: 800px;
    display: inline-flex;
    padding-top: 15px;
    margin-right: 130px;
    margin-bottom: 10px;
    flex-wrap: nowrap;
    flex-direction: row;

}
  
.contenedor-menu__menu{

    display: inline-block;
    text-align: center;
    padding: 20px 10px 20px 10px;
    text-decoration: none;
    color:var(--blanco);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;

}



.contenedor_logos{
    display: inline-block;
    margin: 30px 5px;
}
.contenedor_logos__logo{
    width: 400px;
}




.contenedor-lupa{
display: flex;

}

.contenedor-lupa__buscador{
    display: flex;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: var(--blanco);
    border: none;

}
.lupa{
    font-size: 2rem;
    font-weight: bold;
    opacity: 1;

}

.contenedor-menu__menu:hover{
    background-color: var(--color-fondo-menu);
    color: var(--naranja);
    border-radius: 10px;



}

.contenedor-lupa__buscador:hover{
    background-color: rgba(255, 255, 255, 0.624);
}












header {

    flex-direction: row; /* Agregué esta propiedad */
}

.contenedor-logos {
    flex: 1; /* Agregué esta propiedad */
}

.contenedor-menu {
    flex: 1; /* Agregué esta propiedad */

}

.contenedor-lupa {
    flex: 0 0 auto; /* Agregué esta propiedad */
    margin-left: auto; /* Agregué esta propiedad */
}



.contenedor-menu__menu {
    flex: 1;

}